
        li {
            min-width: 80px;
            color: gray;
            border: solid 1px #e5e5e5;
            text-align: center;
            padding: 8px 0px;
            border-bottom: none;

            &.selected {
                color: #0aaf79;
                border-color: #0aaf79;
            }
            &:nth-last-child(1), &:nth-child(7) {
                border-bottom: solid 1px #e5e5e5; 
            }   
        }

